body {
    background-color: white;
}

p {
    text-align: center;
    font-style: italic;
    text-indent: 20px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px rgb(255, 2, 2);
}

li {
    text-align: center;
}

/* The box model */
div {
    color: brown;
    background-color: cadetblue;
    /* To change dimensions, use width and height */
    width: 800px;
    height: 250px;
    /* Padding is the space between the content and the border and it increases the inner peace */
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 1px;
    /* Border is the visible outline enclosing the content */
    border-top: 5px double black;
    border-left: 5px dotted black;
    border-bottom: 5px solid black;
    border-right: 5px double black;
    /* Margin is distance between elements */
    margin-top:30px ;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
a{
    background-color: black;
    color: cyan;
    text-decoration: none;
    width: 200px;
    border: 20px;
    margin: 5px;
    padding: 5px;
}
a:hover{
    background-color: red;
}